table {
    width: 600px;
}

td, th {
    padding: 10px;
}

table thead {
    background-color: #808080;
}

tbody tr:hover {
    background-color: #afa7a7;
}
tbody tr:nth-child(even) {
    background-color: antiquewhite;
}
