body {
    background-image: linear-gradient(90deg, rgb(224, 68, 21) 0%, rgb(198, 204, 109) 50%, rgb(69, 148, 252) 100%);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: rgb(9, 151, 104);
}

header {
    background-color: whitesmoke;
    width: 500px;
    height: 480px;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 7px 5px rgba(0, 0, 0, 0.452);
    margin: auto;
}

ul {
    text-align: justify;
    color: rgb(62, 11, 110);
}
 
button {
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: yellowgreen;
    border-radius: 5px;
}

button:hover {
    background-color: chartreuse;
    color: white;
    transition: 0.8s;
}